* {
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root {
    --lightblue:#5A89D8;
    --white: rgb(255, 255, 255);
}
body {
    overflow-x: hidden;
}
nav {
    background-color: var(--lightblue);
    color:var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:8vh;
    font-size: 1.5rem;
    letter-spacing: .5rem;
    width:100%;
    flex-direction: column;
    gap:.25em;
    padding:.5em 0em;
}
a {
    color:var(--white)
}
.icons-container {
    display: flex;
    gap:1em;
}
.fa-brands:hover {
    opacity:70%;
    cursor:pointer;
}
main {
    padding:2em 3em;
}
h1 {
font-size:3rem;
padding:2rem 0rem;
}
p {
    font-size:1.25rem;
}
.body-content {
    display: flex;
    gap:5rem;
    align-items: center;
    padding:1em;
}
.main-column {
   flex-basis: 70%;
   
}
.side-column {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
}
.card {
    box-shadow: 5px 1px 5px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height:125px;
    min-width: 100px;
    padding:.5em;
    background-color: var(--lightblue);
}
.card:hover {
    opacity:70%;
    cursor:pointer;
}
.card-img {
    width:100%;
    height:80%;
}
h3 {
    font-size: 1.75rem;
    padding-bottom:1.5em;
    text-align:center;
}
.side-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap:1em;
}
footer {
    background-color: var(--lightblue);
    min-height:8vh;
    width:100%;
    position: absolute;
    bottom: 0;
    margin-top:1em;
}
.page-container {
    position: relative;
    min-height: 100vh;
}
.form {
    padding:1em;
    margin:1em;
    display:flex;
    flex-direction: column;
    align-items: center;
}
label {
    display: flex;
    flex-direction: column;
    gap:.25em;
    font-size: 1.5em;
}
input {
    font-size:1.25em;
}
fieldset {
    display: flex;
    border:none;
    align-items:flex-end;
    gap:2em
}
.result-box {
    display: flex;
    gap:2em;
    padding-bottom:5rem;
    align-items: center;
}
.result {
    color:red;
}
.button {
    background-color: var(--lightblue);
    width:100px;
    text-align: center;
    font-size:1.25em;
    box-shadow: 5px 1px 5px gray;
    border:0;
    min-height:2em;
    color:var(--white)
}
.button:hover {
    opacity:70%;
    cursor:pointer;
}
.side-column {
    padding-bottom:5em;
}
@media (max-width:1400px) {
    fieldset {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:900px) {
    .body-content {
        flex-direction: column;
        gap:2rem;
    }
    main {
        padding: 4rem 5rem;
    }
    fieldset {
        flex-direction: column;
    }
    .result-box {
        flex-direction: column;
        gap:0em;
        text-align: center;
        padding-bottom:0;
        margin-bottom:0;
        
    }
    h1, p{
        text-align: center;
    }
    .side-column {
        padding-bottom:5rem;
        margin-bottom:2rem;
        gap:.5em;
    }
}
@media (max-width:600px) {
   main {
    padding:1em 1em;
   }
   .result-box {
    flex-direction: column;

    gap:0em;
   }
}
@media (max-width:400px) {
    h1 {
        font-size:2em;
    }
    h2 {
        font-size:1em;
    }
    p {
        font-size:1em;
    }
    input {
        font-size:1em;
    }
    label {
        font-size:1em;
    }
 }